APP_NAME=Liquidity by Murshid AI Subtitle Studio
APP_ENV=development
API_PREFIX=/api

FRONTEND_ORIGIN=http://localhost:5173

WHISPER_MODEL=large-v3
WHISPER_DEVICE=cpu
WHISPER_COMPUTE_TYPE=int8
WHISPER_LANGUAGE=ur

MAX_UPLOAD_SIZE_MB=2048